<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Enter Email and Password</h6>
        </div>
        <form >
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"></div>
              <span class="text-primary" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">Email address is required.</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
              <span class="text-primary" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">Password is Required</span>
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
          </form>
          <a routerLink="/registration">New User? Sign Up Here</a>
        </form>
      </div>
    </div>
  </div>
</div>
